# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Streamlit
.streamlit/

# Local uploaded files
data/*.pdf
data/uploaded_notes.pdf

# Evaluation generated results
results/*.csv

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/